.login {
  display: flex;
  width: 100vw;
  background: rgb(116 192 239);
}

.login__logo {
  flex: 0.5;
  background-image: url("https://3.bp.blogspot.com/-NxouMmz2bOY/T8_ac97cesI/AAAAAAAAGg0/e3vY1_bdnbE/s1600/Twitter+logo+2012.png");
  background-size: cover;
}

.login__right {
  background-color: white;
  flex: 0.5;
  display: grid;
  place-items: center;
}

.right__container {
  padding: 100px;
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.right__container > .MuiSvgIcon-root {
  color: var(--twitter-color);
  margin-bottom: 30px;
  margin-right: auto;
}

.right__container > h2 {
  font-weight: 750;
  line-height: 2.5rem;
}

.right__container > .MuiButton-root {
  margin-top: 50px;
  text-transform: none !important;
  padding: 10px 0;
  font-size: large;
  background-color: var(--twitter-color);
  color: white;
  border-radius: 20px;
}

.right__container > .MuiButton-root:hover {
  color: var(--twitter-color);
  background-color: white;
}
