.sidebar {
  /* max-width: 30vw; */
  margin-top: 10px;
  flex: 0.3;
}

.sidebar__container {
  padding-left: 13vw;
}

.sidebar__logo {
  color: var(--twitter-color);
}

.sidebar__container > .MuiButton-root {
  background-color: var(--twitter-color);
  color: white;
  text-transform: none !important;
  width: 80%;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  border-radius: 40px;
}

.sidebar__container > .MuiButton-root:hover {
  background-color: white;
  color: var(--twitter-color);
}

a {
  text-decoration: none;
  color: initial;
}

@media (max-width: 1000px) {
  .sidebar__container .navItem > span > h1 {
    display: none;
  }

  .sidebar {
    flex: 0.15;
  }

  .sidebar__container {
    padding-left: 5px;
  }

  .sidebar__container .navItem {
    padding: 0 10px;
  }
}
