.tweetFeed {
  width: 100%;
}

.tweetFeed__box {
  display: flex;
}

.tweetFeed__rightNameBar {
  display: flex;
  align-items: center;
}

.tweetFeed__box > .MuiAvatar-root {
  height: 50px;
  width: 50px;
  margin: 12px;
}

.tweetFeed__rightNameBar {
  font-size: 0.88rem;
}

.tweetFeed__right {
  padding-top: 10px;
  flex: 1;
}

.tweet__handle,
.tweet__timestamp {
  padding: 0 10px;
  font-size: 0.83rem;
  /* color: rgb(136, 136, 136); */
  color: gray;
}

.tweet__handle > h3,
.tweet__timestamp > h3 {
  font-weight: 350;
}

.tweet__timestamp {
  font-size: 0.7rem;
  margin-left: auto;
}

.tweetFeed__tweetText {
  padding-top: 10px;
}

.tweetFeed__tweetText > p {
  line-height: 1.35rem;
  padding-right: 10px;
}

.tweetFeed__options {
  display: flex;
  justify-content: space-between;
}

.tweetFeed__optionsContainer p {
  font-size: 0.8rem;
}

.tweetFeed__optionsLikeButton:hover {
  color: rgb(255 0 0 / 85%);
  background: rgb(255 0 0 / 11%) !important;
}

.tweetFeed__image {
  margin-top: 5px;
  margin-right: 20px;
  border-radius: 10px;
  object-fit: contain;
  max-width: 30vw;
}
